@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');

.header-wrapper {
    width: 75vw;
    height: 13vh;
    font-family: Ubuntu;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-wrapper input[type='text'] {
    width: 30vw;
    height: 7vh;
    border-radius: 30px;
    border: none;
    padding-inline: 20px;
    font-size: 1.5em;
}

.profile-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-data-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin-left: 20px;
    line-height: 30px;
}

.user-role {
    color: #A1A1A1;
    font-size: .8em;
}